$img_height: 180px;
$img_width: 180px;

.planet_card_container {
  //width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3px;
}

.Loading_container {
  height: $img_height;
  width: $img_width;
}

.planet_card_container figcaption {
  text-align: center;
  margin-bottom: 5px;
}

.planet_card_container img {
  height: $img_height;
  width: $img_width;
  border-radius: 15px;
}
.planet_card_container img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.planet_card_container__info {
  margin-left: 20px;
}

.planet_card_container button{
  cursor: pointer;
  border-radius: 15px;
}